<p>home works!</p>
<input id="fullName" type="text" [formControl]="fullName">
<p>Value: {{this.fullName.value}}</p>
<button type="button" (click)="updateNameonClick()">Update Name</button>


<form style="margin-top: 20px;" [formGroup]="profileForm" (ngSubmit)="onSubmit()">

    <div>
        <label for="first-name">First Name: </label>
        <input id="first-name" type="text" formControlName="firstName">
    </div>
  
    <div>
        <label for="last-name">Last Name: </label>
        <input id="last-name" type="text" formControlName="lastName">
    </div>

    <div formGroupName="address">
        <h2>Address</h2>
        
        <div>
            <label for="street">Street: </label>
            <input id="street" type="text" formControlName="street">
        </div>
        
        <div>
            <label for="city">City: </label>
            <input id="city" type="text" formControlName="city">
        </div>
        
        <div>
            <label for="state">State: </label>
            <input id="state" type="text" formControlName="state">
        </div>
        
        <div>
            <label for="zip">Zip Code: </label>
            <input id="zip" type="text" formControlName="zip">
        </div>
    </div>

    <div formArrayName="products">
        <h2>Products</h2>
        <button type="button" (click)="addProduct()">+ Add another product</button>
      
        <div *ngFor="let product of products.controls; let i=index">
          <!-- The repeated product template -->
          <label for="product-{{ i }}">Product-{{i}}:</label>
          <input id="product-{{ i }}" type="text" [formControlName]="i">
        </div>
    </div>

    <p>Complete the form to enable button.</p>
    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
    <button type="button" (click)="updateprofileonClick()">Update Profile</button>

    <p>Form Status: {{ profileForm.status }}</p>
  </form>